*{
    font-family:Arial, Helvetica, sans-serif
}

.navbar{
    background-color: rgba(53,58,64,255);
}

.caja{
    background-image: url("imagenes/ba1.jpg");
    background-size: contain;
    color: whitesmoke;
    text-align: right;
    padding: 10%;
}
.caja h1{
    font-size: 30px;
}

.caja p{
    font-size: 15px;
}


.btn-success{
    background-color: rgb(41,167,68);}

.caja2{
    text-align: center;
    padding: 20px;
    color: rgb(53,58,64);
}
.caja2 h1{
    font-size: 12px;
}
.caja2 h2{
    font-size: 26px;
}
.caja2 p{
    font-size: 16px;
}
.btn{
    font-weight: bold;
}
.btn-warning{
    background-color: rgb(254,193,6);
}
.btn-info{
    background-color: rgb(23,162,185);
}

.orador h1{
    font-size: 20px;
    margin-top: 1%;
}
.orador img{
    width: 300px;
}
.orador p{
    font-size: 12px;
}

.caja3{
    margin-top: 3%;
    background-color: rgb(53,58,64);
    color: whitesmoke;

}

.caja3 h1{
   
    font-size: 22px;
}

.caja3 p{
    font-size: 12px;
}
.caja4{
    color: rgb(112,125,136);
    text-align: center;
}
.caja4 input{
    color: rgb(112,125,136) ;
}
.caja4 .textarea{
    color: rgb(112,125,136);
}
.caja4 .labtextarea{
font-size: 14px;
display: flex;
}
.boton{
    background-color: rgb(150,201,62);
    color: white;
    margin-bottom: 2%;
    width: 50%;
    height: 40px;
    border-radius: 1%;
}

.footer .navitem{
    color: whitesmoke;
}

#compraTickets{
    display: none;
    
}

.container{
    align-items: center;
    width: 75%;
}

.estudiante{
    border: solid 1px;
    border-color: blue;
    padding: 1%;
    margin: 0.5%;
    
}
.trainee{
    border: solid 1px;
    border-color: lightblue;
    padding: 1%;
    margin: 0.5%;
}

.junior{
    border: solid 1px;
    border-color: rgb(246, 212, 73);
    padding: 1%;
    margin: 0.5%;
}
.categorias{
    text-align: center;
}
.categorias h1{
    font-size: 20px;
}
.categorias h2{
    font-size: 14px;
}
.categorias h3{
    font-size: 16px;
    font-weight: bold;
}

.categorias p{
    font-size: 12px;
}

.caja7{
    text-align: center;
    color: rgb(53,58,64);
}
.caja7 h1{
    font-size: 12px;
}
.caja7 h2{
    font-size: 26px;
}

.caja8{
    width: 50%;
    color: grey;
}
.caja8 input{
    margin-bottom: 5%;
}
.caja9{
    height: 40px;
    width: 100%;
    background-color:rgb(204,229,255);
    border-radius: 5%;
    color:rgb(72,79,146) ;
    margin-bottom: 5%;
}

.caja9 h1{
    font-size: 18px;
    padding-top: 2%;
}
.form-select{
    color: gray;
}

